@page "/tradeorderitems/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New TradeOrderItem</h3>
<hr />
<br />

<FormComponent ButtonText="Create TradeOrderItem" tradeorderitem="tradeorderitem" OnValidSubmit="@CreateTradeOrderItem" />

@code {
    TradeOrderItem tradeorderitem = new TradeOrderItem();
    private async Task CreateTradeOrderItem()
    {
        await _client.PostAsJsonAsync(Endpoints.TradeOrderItemsEndpoint, tradeorderitem);
        _navManager.NavigateTo("/tradeorderitems/");
    }
}