@page "/"

<h1><b>Greetings!</b></h1>

<h2><b>Welcome to TechieTrading</b></h2>

<h4><b><u>About us</u></b></h4>

<p>TechieTrading is a Online IT trading platform that allows trading and selling of IT products with us</p>

<p>We accept trading of refurbished or used product and provide price according to product market value we investigated and researched</p>

<p>We have warehouse locally in Singapore. Our delivery type option can be in-store pick up or standard shipping</p>

<h4><b><u>Contact Us</u></b></h4>

<p><u>Account Management</u><br>
Email : <u>2003980F@student.tp.edu.sg</u><br>
Contact Number : +65 96369464</p>

<p><u>Customer Service</u><br>
Email : <u>2100867G@student.tp.edu.sg</u><br>
Contact Number : +65 87977037</p>